{
    "DT_BASEURL": "DT_BASEURL_PLACEHOLDER",
    "DT_API_TOKEN": "DT_API_TOKEN_PLACEHOLDER",
    "DT_PAAS_TOKEN": "DT_PAAS_TOKEN_PLACEHOLDER",
    "DT_ENVIRONMENT_ID": "DT_ENVIRONMENT_ID_PLACEHOLDER",
    "AZURE_SUBSCRIPTION": "AZURE_SUBSCRIPTION_PLACEHOLDER",
    "AZURE_RESOURCE_GROUP": "azure-modernize-workshop",
    "AZURE_LOCATION": "eastus"
}
