{
    "DT_BASEURL": "DYNATRACE_BASEURL_PLACEHOLDER",
    "DT_API_TOKEN": "DYNATRACE_API_TOKEN_PLACEHOLDER",
    "DT_PAAS_TOKEN": "DYNATRACE_PAAS_TOKEN_PLACEHOLDER",
    "EZ_TRAVEL_AMI": "ami-0ede78635dadc3703",
    "AWS_PROFILE": "dtRoleAccountAdmin",
    "AWS_REGION": "eu-west-1",
    "AWS_KEYPAIR_NAME": "demo"
}
